.EightBall{
    display: flex;
    justify-content: center;
    align-items: center;
}
.EightBall-btn {
    height: 200px;
    width: 200px;
    border: none;
    border-radius: 50%;
    color: whitesmoke;
    
}

.EightBall-btn:focus {
    outline: none;
}